@charset "utf-8";

:root{
    --color1: rgb(78, 4, 78);
    --color2: rgb(70, 1, 126);
    --color3: rgb(22, 22, 22);
    --color4: rgb(68, 68, 68);
    --color5: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color2)
}

/*-----------------------------------------------------------------------------------*/

header, footer{
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    color: white;
}

header img{
    width: 40px;
    height: 40px;
}

/*-----------------------------------------------------------------------------------*/

main{
    height: 82vh;
    width: 95vw;
    margin: auto;
    background-color: var(--color3);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 2px;
}

div#add-post-area{
    background-color: var(--color2);
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#add-post-area h3{
    color: var(--color5);
}

div#add-post-area textarea{
    height: 8vh;
    width: 98%;
    border: none;
    font-size: 20px;
    color: white;
    background-color: var(--color3);
    resize: none;
}

div#add-post-area input{
    color: white;
    background-color: var(--color2);
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 7px;
    margin-bottom: 3px;
    border: none;
}

div.post{
    padding: 10px 10px 0px 10px;
    background-color: var(--color3);
    border-bottom: var(--color4) solid 2px;
    border-radius: 7px;
}

div.post h2{
    color: var(--color5);
}

div.post i{
    color: var(--color5);
    font-size: 25px;
    position: relative;
    right: -96%;
}

/*-----------------------------------------------------------------------------------*/

div#add-post-btn{
    width: 50px;
    height: 50px;
    background-color: var(--color2);   
    position: absolute;
    right: 4vw;
    bottom: 10vh;
    z-index: 1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#add-post-btn:hover{
    cursor: pointer;
    background-color: var(--color1);
}

div#add-post-btn i{
    font-size: 2.8rem;
    color: white;
    font-weight: 900;
}

/*-----------------------------------------------------------------------------------*/

footer{
    height: 8vh;
    width: 100%;
    background-color: black;
    position: sticky;
    bottom: 0px;
    justify-content: space-around;
}

footer i{
    color: white;
    font-size: 25px;
}