@charset "UTF-8"; 
/* Configurações */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'League Spartan',*/

:root{
  --color1: #50175E;
  --color2: #43134A;
  --color3: #03061E;
  --color4: #A8265D;
  --color5: #adadad;
  --color6: #8f00a1;
}

::-webkit-scrollbar{
    height: 0;
    width: 0;
}

*{
    margin: 0;
    padding: 0;

}

/*---------------------------------*/

body{
    background-color: #03061E;
    background-image: linear-gradient(to bottom, var(--color1), var(--color3));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
}

main{
    background-color: #fdfdfd;
    width: 60%;
    margin: auto;
    padding: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.836);
    font-family: 'League Spartan';
}

h2 span{
    color: #680075
}

label{
    font-size: 20px;
    display: block;
    margin-top: 15px;
}

input#emailid, input#usernameid, input#passwordid{
    width: 90%;
    padding: 4px;
    margin-top: 4px;
    border-radius: 5px; 
}

p{
    font-size: 12px;
    margin-left: 4px;
    margin-top: 3px;
    width: 98%;
    color: #adadad;
}

div#buttonareaid{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input#submitid{
    color: white;
    background-color: var(--color1);
    padding: 15px 10%;
    border-radius: 7px;
    border: solid 2px #43134A;
    cursor: pointer;
    width: 95%;
    font-weight: bold;
    font-size: 17px;
}

input#submitid:hover{
    background-color: var(--color3);
    font-weight: bolder;
    border: var(--color3) 2px solid;
    /*-webkit-box-shadow:inset 0px 0px 0px 1px var(--color4);*/
    transition: 0.5s;
}


img:hover{
    opacity: 90%;
    transition: 0.5s;
}