@charset "UTF-8";

/* Typical Device breakpoints
------------------------------
Telas Pequenas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: + de 1200px
*/


/*----TINY SCREENS----*/

@media screen and (min-width: 300px) and (max-width: 499px) {
    main{
        /*border: solid 2px yellow;*/
        transition: width 1s, height 1s;
        transition-timing-function: ease;
    }

    input#submitid{
        width: 78%;
        padding: 15px 15%;
    }

    img{
        height: 55px;
        width: 55px;
    }
    
}

/*----SMALL SCREENS----*/
@media screen and (min-width: 500px) and (max-width: 767px) {
    main{
        width: 60%;
        /*border: 4px blue solid;*/
        transition: width 1s, height 1s;
        transition-timing-function: ease;
    }
    input#submitid{
        width: 85%;
    }
    img{
        height: 60px;
        width: 60px;
    }
}

/*----TABLETS----*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    main{
        width: 500px;
        /*border: 4px red solid;*/
        padding-bottom: 10px;
        transition: width 1s, height 1s;
        transition-timing-function: ease;
    }
    h2{
        font-size: 27px;
    }
    input#submitid{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        height: 65px;
        width: 65px;
    }
}

/*----DESKTOP----*/
@media screen and (min-width: 993px) and (max-width: 1199px) {
    body{
        display: flex;
    }
    main{
        width: 500px;
        /*border: 4px green solid;*/
        padding-bottom: 10px;
        transition: width 1s, height 1s;
        transition-timing-function: ease;
    }
    h2{
        font-size: 27px;
    }
    input#submitid{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        height: 65px;
        width: 65px;
    }

}

/*----LARGE SCREENS----*/
@media screen and (min-width: 1200px){
    body{
        display: flex;
    }
    main{
        width: 500px;
        /*border: 4px purple solid;*/
        padding-bottom: 10px;
        transition: width 1s, height 1s;
        transition-timing-function: ease;
    }
    h2{
        font-size: 27px;
    }
    input#submitid{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        height: 65px;
        width: 65px;
    }

}